@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navbar {
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar div .collapse ul li a {
  cursor: pointer;
}

#banner {
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
  padding-top: 5%;
}
#banner .container .row {
  align-items: center;
}
#banner .container .row div h1 {
  font-size: 50px;
  letter-spacing: 5px;
}
#banner .container .row div a {
  color: white;
  text-decoration: none;
}
#banner .container .row div a img {
  width: 65px;
  height: 60px;
  padding: 10px;
}
#banner .bottom-img {
  width: 100%;
}

#services {
  padding: 80px 0;
}
#services .container button {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
  margin-top: 20px;
}
#services .container .title::before {
  content: "";
  background: #5A4F66;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
#services .container .title::after {
  content: "";
  background: #5A4F66;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(17px);
}
#services .container .row div img {
  width: 200px;
  height: 120px;
  margin-top: 20px;
}
#services .container .row div h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #5A4F66;
  letter-spacing: 5px;
}

#about-us {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}
#about-us .container .title::before {
  content: "";
  background: #5A4F66;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
#about-us .container .title::after {
  content: "";
  background: #5A4F66;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(17px);
}
#about-us .container .row div p {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us .container .row div ul {
  margin-left: 20px;
  width: 400px;
}
#about-us .container .row div ul li {
  margin: 10px 0;
}

#testimonials {
  margin: 50px 0;
}
#testimonials .container .title::before {
  content: "";
  background: #5A4F66;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
#testimonials .container .title::after {
  content: "";
  background: #5A4F66;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(17px);
}
#testimonials .container .row div {
  border-left: 4px solid #5A4F66;
  margin-top: 50px;
  margin-bottom: 50px;
}
#testimonials .container .row div img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
#testimonials .container .row div .user-details {
  display: inline-block;
  font-size: 12px;
}

#social-media {
  background: #f8f9fa;
  padding: 100px 0;
}
#social-media .container p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
#social-media .container a img {
  width: 60px;
  transition: 0.5s;
}
#social-media .container a img:hover {
  transform: translateY(-10px);
}

#footer {
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
  color: #fff;
}
#footer img {
  width: 100%;
}
#footer .container hr {
  background-color: #fff;
}
#footer .container .copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
#footer .container .row div img {
  width: 120px;
  margin-bottom: 20px;
}
#footer .container .row div p i {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
  cursor: pointer;
}
#footer .container .row div input {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
#footer .container .row div button {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right top, #5a4f66, #4c4158, #3e344b, #30273e, #231b32);
}

body {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */